
.dropdown {
    position: absolute;
    z-index: 2;
    left: 60%;
    top: 5px;}

.dropdown-menu {
    background-color: #f8f3f3;
    border: 1px solid #ddd;
    width: 100%;
    border-radius: 15px;
    max-height: 500px;
    box-shadow: 0 0 15px rgb(178, 184, 255);
    overflow-y: auto;
    overflow-x: hidden;
    z-index: 10;
    height: auto;}

.dropdown-item {
    padding: 8px 16px;
    color: #131313;
    display: block;
    font-family:"Varela Round","Comfortaa Light" , Verdana, Geneva, Tahoma, sans-serif;
    font-size:20px;
    font-weight:bold;
    background-color: white;
    border-radius: 10px;
    z-index: 1000;}

.dropdown-item:hover {
    background-color: #b8b8b8;}

.searchShop{
    width: 96%;
    border-color: #656565;
    font-size: 18px;
    font-family:"Varela Round","Comfortaa Light" , Verdana, Geneva, Tahoma, sans-serif;
    background-color: rgba(200, 200, 200, 0.24);
    border-radius: 10px;
    height: 30px;
    margin-top: 5px;
}
.my-button-dropdown {
    width: 300px; /* Установка ширины кнопки */
    height: 30px; /* Установка высоты кнопки */
    font-size: 18px; /* Увеличение размера шрифта */
    padding: 2px 10px; /* Установка внутренних отступов */
    background-color: rgba(72, 75, 78, 0); /* Цвет фона */
    color: #070707; /* Цвет текста */
    border-radius: 5px; /* Скругление углов */
    cursor: pointer; /* Указатель при наведении */
    border: #9c9999 1px solid;
}
.my-button-dropdown:hover{
    background-color: #9c9999;
    color: white;
}

.search {
    width: 100%;
    position: relative;
    display: flex;

}
.searchTerm {
    text-align: center;
    width: 100%;
    border: 1px solid #5872e8;
    padding: 5px;
    height: 20px;
    border-radius: 5px 0 0 5px;
    outline: none;
    font-family:"Varela Round","Comfortaa Light" , Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    font-size: 18px;
    background: rgba(255, 255, 255, 0);

}

.searchTerm:focus{
    color: #000000;
}
.searchButton {
    width: 15%;
    height: 32px;
    border: 1px solid #5872e8;
    background: #5872e8;
    text-align: center;
    color: rgba(255, 255, 255, 0);
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    font-size: 20px;
}
.wrap{
    position: absolute;
    width: 15%;
    height: 30px;
    top: 20px;
    left: 50%;
    transform: translate(-50%, -50%);
}
