/* Сброс стилей для всех элементов */


body {
    background: rgba(0, 0, 0, 0.63);
    position: relative;
    overflow-x: hidden;
    margin-bottom: 50px;
    overflow-y: hidden;
}

/*css для кнопок пагинации*/
.pagination{
    position: absolute;
    top: 101%;
    right: 15%;
}
.pagination button {
    padding: 10px 15px;
    margin: 0 5px;
    border: 1px solid #ffffff;
    box-shadow: 0 0 1px rgb(152, 152, 152); /* Тень */
    background-color: #ffffff;
    cursor: pointer;
    border-radius: 5px;
}

.pagination button.active {
    background-color: #007bff;
    color: white;
    box-shadow: 0 0 15px rgb(0, 134, 255); /* Тень */
}

.pagination button:disabled {
    background-color: rgb(255, 255, 255);
    cursor: not-allowed;
}

/* Стили для контейнера в самом верху{*/
.container_up {
    height: auto; /*Толщина*/
    width: 100%; /* Устанавливаем ширину на 100% */
    background: rgba(255, 255, 255, 0.91); /* Цвет фона для визуализации */
    box-shadow: 0 0 15px rgb(13, 21, 80); /* Тень */
    padding: 0;
    border-radius: 20px;
    border: rgb(211, 255, 171);
}

/* Стили для логотипа и названия */
.logo-container {
    display: block; /* Используем Flexbox для расположения в строку */
    align-items: center; /* Центрируем по вертикали */
}

.logo {
    max-height: 50px; /* Ограничиваем высоту логотипа */
    height: 35px/* Отступ между логотипом и названием */
}

.name-container {
    position: absolute;
    font-size: 30px;
    font-weight: bold;
    font-family:"Varela Round","Comfortaa Light" , Verdana, Geneva, Tahoma, sans-serif;
    top:4px;
}

/*Загрузка*/
.loading-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(172, 194, 255, 0.22); /* полупрозрачный серый фон */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
}

.loader {
    border:  8px solid #ff0000;
    border-top: 8px solid #134aff;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    animation: spin 1s linear infinite;
    z-index: 10;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}


